<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Library</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/bootstrap-sweetalert-1.0.1/dist/sweetalert.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-sweetalert-1.0.1/dist/sweetalert.min.js"></script>
</head>
<body class="bg-gray-100 text-gray-800 h-screen flex flex-col">
    <header>
        <nav class="bg-gray-900 border-b border-gray-700 shadow py-4 mb-6">
            <div class="container mx-auto px-4 flex items-center">
                <a class="text-white text-xl font-bold" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <button class="text-white block lg:hidden" type="button">
                    <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
                        <path d="M3 12h18m-18-6h18m-18 12h18"></path>
                    </svg>
                </button>
                <div class="justify-between lg:flex lg:items-center w-full pl-12">
                    <ul class="lg:flex lg:items-center lg:space-x-6 text-white">
                        @{
                            if (Context.Session.GetString("Logado") == "true")
                            {
                                <li>
                                    <a class="hover:text-gray-400" asp-area="" asp-controller="Book" asp-action="Index">Livros</a>
                                </li>
                                <li>
                                    <a class="hover:text-gray-400" asp-area="" asp-controller="Loan" asp-action="Index">Empréstimos</a>
                                </li>
                                if (Context.Session.GetString("Admin") == "true")
                                {
                                    <li>
                                        <a class="hover:text-gray-400" asp-area="" asp-controller="Author" asp-action="Index">Autores</a>
                                    </li>
                                    <li>
                                        <a class="hover:text-gray-400" asp-area="" asp-controller="Category" asp-action="Index">Categorias</a>
                                    </li>
                                    <li>
                                        <a class="hover:text-gray-400" asp-area="" asp-controller="User" asp-action="Index">Usuário</a>
                                    </li>
                                }
                                <li>
                                    <a class="hover:text-gray-400" asp-area="" asp-controller="Book" asp-action="ExibeConsultaAvancada">Consulta Avançada de Livros</a>
                                </li>
                            }
                        }
                    </ul>
                    @if (Context.Session.GetString("Logado") == "true")
                    {
                        <a class="hover:text-gray-400 text-gray-600 flex-end ml-2" asp-area="" asp-controller="Login" asp-action="LogOff">LogOff</a>
                    } else
                    {
                        <a class="hover:text-gray-400 text-white" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container mx-auto px-4 flex-grow">
        <main role="main" class="pb-12 h-full">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-gray-900 border-t border-gray-700 text-gray-400 py-4 mt-auto">
        <div class="container mx-auto px-4 text-center">
            &copy; 2024 - Library_Management_System - <a class="hover:text-gray-200" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
