@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Oops!</h1>
<h2 class="text-danger">An error occurred, see more details below.</h2>
<br />

<a href="/home/index">Go back to Home page</a>
<br />

<code class="text-danger">
    @Model.Erro
</code>