@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<fieldset id="areaFiltro" class="form-group">
    <legend>Consulta avançada de Empréstimos</legend>
    <div class="row">
        @{if (Context.Session.GetString("Admin") == "true")
        {
            <div class="col-lg-3">
                Usuário <br />
                <input type="text" id="userName" class="form-control" />
            </div>
        }}
        <input type="hidden" id="userName" class="form-control" />
        <div class="col-lg-4">
            Título<br />
            <input type="text" id="title" class="form-control" />
        </div>
        <div class="col-lg-2">
            Período de Empréstimo<br />
            <input type="number" id="dataInicial" class="form-control" min="1800" max="2100" placeholder="AAAA" />
        </div>
        <div class="col-lg-2">
            <br />
            <input type="number" id="dataFinal" class="form-control" min="1800" max="2100" placeholder="AAAA" />
        </div>
        <div class="col-lg-1">
            <br />
            <input type="button" id="btnFiltro" class="btn btn-success" value="Aplicar"
                   onclick="aplicaFiltroConsultaAvancadaEmprestimo()" />
        </div>
    </div>
</fieldset>
<div id="resultadoConsulta" class="table-responsive">
</div>
