@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<fieldset id="areaFiltro" class="form-group">
    <legend>Consulta avançada de Livros</legend>
    <div class="row">
        <div class="col-lg-4">
            Título<br />
            <input type="text" id="title" class="form-control" />
        </div>
        <div class="col-lg-3">
            Autor <br />
            <select id="authorName" class="form-control" asp-items="@ViewBag.Autores"></select>
        </div>
        <div class="col-lg-3">
            Categoria <br />
            <select id="categoryDescription" class="form-control" asp-items="@ViewBag.Categorias"></select>
        </div>
        <div class="col-lg-2">
            Período <br />
            <input type="number" id="dataInicial" class="form-control" min="1800" max="2100" placeholder="AAAA" />
        </div>
        <div class="col-lg-2">
            <br />
            <input type="number" id="dataFinal" class="form-control" min="1800" max="2100" placeholder="AAAA" />
        </div>
        <div class="col-lg-1">
            <br />
            <input type="button" id="btnFiltro" class="btn btn-success" value="Aplicar"
                   onclick="aplicaFiltroConsultaAvancada()" />
        </div>
    </div>
</fieldset>
<div id="resultadoConsulta" class="table-responsive">
</div>
