@model List<UserViewModel>

<h2 class="text-2xl font-bold text-center my-4">Usuários</h2>

<div class="flex max-w-7xl justify-end -mt-12 mb-4">
    <a href="/user/Create" class="bg-gray-700 hover:bg-gray-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Registrar Usuário</a>
</div>

<div class="flex justify-center">
    <div class="w-full max-w-6xl">
        <table class="min-w-full bg-gray-700 text-white rounded-lg shadow">
            <thead>
                <tr>
                    <th class="py-4 px-6 text-left">Ações</th>
                    <th class="py-4 px-6 text-left">Nome</th>
                    <th class="py-4 px-6 text-left">Email</th>
                    <th class="py-4 px-6 text-left">Data de Registro</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr class="border-t border-gray-100">
                        <td class="py-2 px-4 text-left">
                            <a href="/user/edit?id=@user.Id" class="hover:text-gray-500">✏️</a>
                            <a href="javascript:deleteRecord('user', @user.Id)" class="ml-2 hover:text-gray-500">❎</a>
                        </td>
                        <td class="py-2 px-4 text-left">@user.Name</td>
                        <td class="py-2 px-4 text-left">@user.Email</td>
                        <td class="py-2 px-4 text-left">@user.RegistrationDate.ToShortDateString()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function deleteRecord(controller, id) {
        if (confirm('Tem certeza que deseja excluir esse registro?')) {
            window.location.href = '/' + controller + '/Delete?id=' + id;
        }
    }
</script>